<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/abtestdb</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">diwakar</property>
    <property name="connection.password">theewalker</property>
      <mapping class="com.example.ABTestAPI.dbModel.ExperimentEntity"/>
      <mapping class="com.example.ABTestAPI.dbModel.GoalEntity"/>
      <mapping class="com.example.ABTestAPI.dbModel.VariantEntity"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>